.App {
  text-align: center;
}
.header {
  position: absolute;
  color: red;
  margin-top: 0;
  top: 10px;
  left: 100px;
  font-size: 10vw;
  z-index: 2;
}

.app-wrapper {
  background-color: #282c34;
  background-image: url('./pics/v.svg');
  background-repeat: no-repeat;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 120px;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
